<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }} | Musicify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/styles/main.css">
</head>

<body>
    <!-- navbar -->
    <header class="p-3 text-bg-dark">
        <nav>
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="/" class="nav-link px-2 text-secondary">Musicify</a></li>
                        <li><a href="/friends" class="nav-link px-2 text-secondary">Friend Feed</a></li>
                        <li><a href="/playlists" class="nav-link px-2 text-secondary">Playlists</a></li>
                        <li><a href="/top-music" class="nav-link px-2 text-secondary">Top Music</a></li>
                    </ul>

                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" action="/search">
                        <input name="query" id="query" type="search" class="form-control form-control-dark text-bg-dark"
                            placeholder="Search..." aria-label="Search">
                    </form>

                    <div class="text-end">
                        {{#if user}}
                        <a type="button" href="/auth/logout" class="btn btn-warning">Log out</a>
                        {{else}}
                        <a type="button" href="/auth/login" class="btn btn-warning">Log in</a>
                        {{/if}}

                    </div>
                </div>
            </div>
        </nav>
    </header>


    <main>
        {{{body}}}
    </main>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>