<section>
    {{{body}}}
    <div class="error">
        <p>We're sorry but we can't seem to find the song you're looking for.</p>
        <p>Please review the following error for more information: </p>
        <p>{{errorMsg}}</p>
    </div>
</section>