{{!-- <img src="/public/img/Original-Cropped.png" id="full-logo">
{{#if user}}
  <a href="/top-music"><h3>Top Music</h3></a>
  <a href="/friends"><h3>Friends</h3></a>
  <a href="/profile"><h3>Your Profile</h3></a>
{{else}}
  <h1>Welcome to Musicify!</h1>
  <p>A music database for you and your friends.</p>
  <a href="/auth/login" class="header-bar__link">Login</a>
  <a href="/auth/register" class="header-bar__link">Register</a>
{{/if}} --}}