<div class="container py-4">
    <h1>Explore Playlists</h1>

    <div class="row">
        <div class="col">
            <ul>
                {{#each playlists}}
                <li><a href="/playlists/{{_id}}">{{PlaylistName}} by {{owner.username}}</a></li>
                {{/each}}
            </ul>
        </div>
        <div class="col">
            <form method="POST" action="/playlists/create">
                {{#if user}}

                <div class="mb-3">
                    <input type="text" class="form-control" id="newPlaylistNameInput" placeholder="New playlist name"
                        name="newPlaylistNameInput">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
                {{else}}
                <div class="mb-3">
                    <input type="text" class="form-control" id="newPlaylistNameInput" placeholder="New playlist name"
                        name="newPlaylistNameInput" disabled>
                </div>
                <button type="submit" class="btn btn-primary" disabled>Create</button>
                {{/if}}
        </div>
    </div>



</div>