{{!--

If the user is logged in, and 'GET /protected' endpoint is called, you will render this view that displays:
-Username (which you stored in the session when they logged in) for the currently logged in user
-The current date/time

Also, you will need to have a hyperlink at the bottom of the page to /logout.

--}}
<section>
    <div id="userInfo">
        <p>Username: {{username}}</p>
        <p>Current Date/Time: {{datetime}}</p>
    </div>
    <a href="/logout">Logout</a>
</section>